@font-face {
  font-family: iphone-regular;
  src: url(fonts/SF-Pro-Text-Regular.otf);
}
@font-face {
  font-family: iphone-medium;
  src: url(fonts/SF-Pro-Text-Medium.otf);
}
@font-face {
  font-family: iphone-semibold;
  src: url(fonts/SF-Pro-Text-Semibold.otf);
}
@font-face {
  font-family: UniSan-Heavy;
  src: url(fonts/Uni\ Sans\ Heavy.otf);
}
@font-face {
  font-family: Arcade-Normal;
  src: url(fonts/ARCADECLASSIC.TTF);
}

:root {
  --brand-color: #a37eff;
  --brand-secondary-color: #b99dff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iphone-regular;
}

nav .container-fluid {
  padding: 0px;
  align-items: center !important;
}

.navbar {
  margin: 25px 40px 0px;
}

nav a .navbar-logo {
  margin-right: 0px;
  margin: 0px;
}

nav img {
  width: 42px;
}



.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  margin-top: var(--bs-gutter-y);
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navbar-content ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.navbar-content ul li {
  text-decoration: none;
  list-style-type: none;
  font-weight: 600;
}

.navbar-content ul li a {
  text-decoration: none;
  color: #252525;
  transition: 0.3s;
  position: relative;
  flex-grow: 1;
  flex-basis: 30%;
}

.navbar-content ul li a:hover {
  letter-spacing: 3px;
  color: #a37eff;
}

.socialMediaFlex {
  display: flex;
  padding-top: 22px;
  padding-left: 0;
}

.socialMedia ul {
  align-items: center;
  margin: 0px;
}

.socialMedia ul li {
  text-decoration: none;
  list-style-type: none;
  font-weight: 600;
  margin-right: 12px;
}

.socialMedia ul li a {
  text-decoration: none;
  color: #252525;
  transition: 0.3s;
  position: relative;
  flex-grow: 1;
  flex-basis: 30%;
}

.socialMedia ul li a:hover {
  letter-spacing: 3px;
  color: #a37eff;
}

.dropbtn {
  font-family: Arcade-Normal;
  background-color: transparent;
  padding: 12px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  text-align: right;
  width: 196px;
  font-weight: 600;
  transition: 0.3s;
  letter-spacing: 1px;
  color: var(--brand-color);
}

#blinking-button {
  padding: 8px 15px;
  border-radius: 48px;
  border: 2px solid black;
  text-align: center;
  font-size: 17px;
}
@keyframes blink {
  0%,
  100% {
    background-color: #fea900;
  }
  50% {
    background-color: #fae3b5;
  }
}
#blinking-button {
  background-color: #ffc759 ;
  color: rgb(0, 0, 0);
  animation: blink 2s linear infinite;
}

.dropbtn:hover {
  letter-spacing: 3px;
  color: #000;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 100;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background: var(--brand-color);
  border-radius: 8px;
}

.dropdown-content a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 8px;
  font-family: Arcade-Normal;
  letter-spacing: 1px;
  font-size: 18px;
}

.dropdown-content a:hover {
  color: black;
  background-color: var(--brand-secondary-color);
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropdown-content:hover {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.buttons {
  margin-top: 50px;
  text-align: center;
  border-radius: 30px;
}

.blob-svg {
  display: none;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 16px 32px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}
.blob-btn:before {
  content: '';
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--brand-color);
  border-radius: 30px;
}
.blob-btn:after {
  content: '';
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: #ffffff;
  border-radius: 30px;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: radial-gradient(#d8caf5, #ffffff);
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url('#goo');
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: var(--brand-color);
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url('#goo')) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url('#goo')) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

/* play button design  */

a.btn.px-4 {
  font-size: 20px;
  font-family: iphone-medium;
  color: black;
  background-image: radial-gradient(#d8caf5, #ffffff);
  padding: 9px 2px 8px 25px !important;
  border: #dcd0f6 solid 2px;
  border-radius: 50px;
}

.design-portfolio a .icon-play {
  width: 23%;
  margin-left: 15px;
}

.navbar .toggle-btn {
  display: none;
}

.dropdown-open {
  display: none;
}

.dropdown-open ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.dropdown-open ul li {
  list-style-type: none;
  margin-top: 10px;
}

.dropdown-open ul li a {
  font-weight: 600;
}

.dropdown-open {
  width: 100%;
  border-radius: 5px;
}

.landing-page {
  margin: 0px 15px;
  justify-items: center;
}

/* ------------------Main body section begins------------------ */
/*------------------- left section  */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-item {
  font-size: 30px;
}

.design-text {
  position: relative;
  left: -130px;
  width: 120%;
  padding-bottom: 30px;
  mix-blend-mode: multiply;
}

.portfolio-text {
  font-size: 38px;
  font-family: iphone-semibold;
  margin: -30px 0 70px;
}

.tag-line {
  font-size: 24px;
}

.tag-line span {
  font-family: iphone-semibold;
  color: var(--brand-color);
}

.glow-on-hover {
  width: 170px;
  height: 60px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 30px;
  font-size: 20px;

  a {
    text-decoration: none;
  }

  img {
    width: 25%;
    margin-right: 13px;
    margin-left: -15px;
  }

  
  
}

@media (max-width: 767px) {
  .Mobile-resp{
    display: flex;
  }

  .glow-on-hover{
    margin: auto;
  }
}


.glow-on-hover:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 30px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 30px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.myphoto {
  position: relative;
  top: -60px;
}

.animate img {
  width: 118%;
  top: -30px;
  position: relative;
  right: 30px;

  @media (max-width: 767px) {
    width: 100%;
    top: 0;
    right: 0;
  }
  
}

.animate {
  animation: gliding-animation 2s infinite ease-in-out;
}

@keyframes gliding-animation {
  50% {
    transform: translateY(10px);
  }
}

.name-tag {
  width: 32%;
  position: relative;
  top: 40px;
  rotate: 340deg;
  left: 40px;
}
/* ======================= Experience ===================== */

.Experience {
     position: relative;
     background-color: rgb(140 140 140 / 25%);
    /* background-image: url(img/edu-bg.png); */
    background-size: cover;
    border-radius: 20px;
    padding: 100px;
     width: 100%;

     @media (max-width: 767px) {
      background-image: none;
    }
}

.Experience ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 230px);
  justify-content: space-around;
  text-align: center;
}
.Experience li {
  grid-column: span 2;
  text-align: center;
  border-radius: 65px;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.5em;
  font-family: sans-serif;
  position: relative;
  padding: 20px;
  border: 20px solid #0000;
  background: linear-gradient(#a37eff 0 0) content-box,
    linear-gradient(var(--c, #bfa6ff) 0 0) padding-box,
    linear-gradient(var(--d, 90deg), #0000 75%, #d1beff 0) border-box;

    @media (max-width: 767px) {
      grid-column: span 2;
    text-align: center;
    color: #a37eff;
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
    position: relative;
    background: none;
    }

  }
.Experience li:nth-child(even) {
  grid-column-end: -1;
  --d: -90deg;
  --c: #bfa6ff;
}
.Experience li:not(:last-child) {
  margin-bottom: -20px;
}
.Experience li:before,
.Experience li:after {
  content: '';
  display: block;
  height: 0.6em;
}

.Experience time {
  position: absolute;
  font-size: 20px;
  left: calc(100% + 50px);
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  color: black;
}

.Experience img {
  width: 16%;
  position: absolute;
  top: -35px;
  right: -13px;

  @media (max-width: 767px) {
    display: none;
  }
}

.Experience li:nth-child(even) time {
  left: auto;
  color: #000;
  right: calc(100% + 50px);
}
.Experience time:before {
  content: '';
  position: absolute;
  height: 10px;
  top: calc(50% - 5px);
  right: calc(100% + 5px);
  width: 65px;
  background: repeating-linear-gradient(-90deg, #000000 0 5px, #0000 0 10px) 50% /
    100% 2px no-repeat;
}
.Experience li:nth-child(even) time:before {
  right: auto;
  left: calc(100% + 5px);
  background: repeating-linear-gradient(90deg, #009cda 0 5px, #0000 0 10px) 50%/100%
    2px no-repeat;
}

.experience-title {
  margin: 0 100px 36px;

  h1 {
    font-weight: 600;
  }
}

.timeline li a {
  color: rgb(0, 0, 0);
}

/* =======================Carousal details ===================== */

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

/* Hobby details ========================== */
@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}



section {
  background: #f4f4f4;
  padding: 50px 0;
}

.Hobby-section {
  padding-top: 60px !important;
}

.container {
  max-width: 1044px;
  margin: 0 auto;
  padding: 0 20px;
}

.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;

  > input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;

    &:nth-of-type(6):checked
      ~ .hobby__slides
      .hobby__slide:first-of-type {
      margin-left: -500%;
    }
    &:nth-of-type(5):checked
      ~ .hobby__slides
      .hobby__slide:first-of-type {
      margin-left: -400%;
    }
    &:nth-of-type(4):checked
      ~ .hobby__slides
      .hobby__slide:first-of-type {
      margin-left: -300%;
    }
    &:nth-of-type(3):checked
      ~ .hobby__slides
      .hobby__slide:first-of-type {
      margin-left: -200%;
    }
    &:nth-of-type(2):checked
      ~ .hobby__slides
      .hobby__slide:first-of-type {
      margin-left: -100%;
    }
    &:nth-of-type(1):checked
      ~ .hobby__slides
      .hobby__slide:first-of-type {
      margin-left: 0%;
    }

    &:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    }
    &:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    }
    &:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    }
    &:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    }
    &:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    }
    &:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    }
  }
}

.carousel__thumbnails li {
  span {
    display: flex;
    justify-content: center;
    padding: 11px;
    font-size: 45px;
    font-weight: bold;
  }
}

.carousel__thumbnails li {
  background-color: rgb(193, 193, 193);

  &:hover {
    background-color: var(--brand-color);
  }

  &:active {
    background-color: var(--brand-color);
    border: none;
  }
}

.hobby__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.hobby__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;

  span {
    font-family: iphone-semibold;
    color: var(--brand-color);
  }

  figure {
    display: flex;
    margin: 0;
  }

  div {
    @include aspect-ratio(3, 2);
    width: 100%;
  }

  img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
    transition: 0.2s;
    

    &:hover{
      background-color: #000000;
      opacity: 0.8;
    }
  }

  figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px;
    font-size: 20px;
    font-weight: 600;
  }

  .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    font-size: 14px;
  }

  &.scrollable {
    overflow-y: scroll;
  }
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  margin: 0 -10px;

  .hobby__slides + & {
    margin-top: 20px;
  }

  li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
  }

  label {
    display: block;
    @include aspect-ratio(1, 1);

    &:hover,
    &:focus {
      cursor: pointer;

      img {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
        transition: all 300ms ease-in-out;
      }
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hobby__slides{

  img{
    width: 100%;
  }
}

/* Hobby details ends here========================== */

section {
  background: #f4f4f4;
  padding: 50px 0;
}

.Hobby-section {
  padding-top: 60px !important;
  background-color: transparent;
}

.container {
  max-width: 1044px;
  margin: 0 auto;
  padding: 0 20px;
}

.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;

  > input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;

    &:nth-of-type(6):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -500%;
    }
    &:nth-of-type(5):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -400%;
    }
    &:nth-of-type(4):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -300%;
    }
    &:nth-of-type(3):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -200%;
    }
    &:nth-of-type(2):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -100%;
    }
    &:nth-of-type(1):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: 0%;
    }

    &:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    }
    &:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    }
    &:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    }
    &:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    }
    &:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    }
    &:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    }
  }
}

.carousel__thumbnails li {
  span {
    display: flex;
    justify-content: center;
    padding: 11px;
    font-size: 45px;
    font-weight: bold;
  }
}

.carousel__thumbnails li {
  background-color: rgb(193, 193, 193);

  &:hover {
    background-color: var(--brand-color);
  }

  &:active {
    background-color: var(--brand-color);
    border: none;
  }
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;

  span {
    font-family: iphone-semibold;
    color: var(--brand-color);
  }

  figure {
    display: flex;
    margin: 0;
  }

  div {
    @include aspect-ratio(3, 2);
    width: 100%;
  }

  img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
    transition: 0.2s;
    

    &:hover{
      background-color: #000000;
      opacity: 0.8;
    }
  }

  figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px;
    font-size: 20px;
    font-weight: 600;
  }

  .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    font-size: 14px;
  }

  &.scrollable {
    overflow-y: scroll;
  }
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  margin: 0 -10px;

  .carousel__slides + & {
    margin-top: 20px;
  }

  li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
  }

  label {
    display: block;
    @include aspect-ratio(1, 1);

    &:hover,
    &:focus {
      cursor: pointer;

      img {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
        transition: all 300ms ease-in-out;
      }
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel__slides{

  img{
    width: 100%;
  }
}

/* =======================Lays photo ===================== */
.lays {
  h1 {
    font-weight: bold;
  }

  img {
    width: 80%;
  }
}

.Bg-2 {
  padding: 5%;
}

/* =======================sketch secton ===================== */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
h1 {
  color: coral;
}
.grid-container-sketch {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    transition: all .25s ease-in-out;
    &:hover img {
      filter: grayscale(0);
    }
    &:hover {
      border-color: coral;
    }
    img {
      width: 100%;
      /* filter: grayscale(100%); */
      border-radius: 5px;
      transition: all .25s ease-in-out;
    }
    p {
      margin: 5px 0;
      padding: 0;
      text-align: center;
      font-style: italic;
    }
  }
}

.Thanks {
  display: flex;
  justify-content: space-around;
  font-size: 55px;
  font-weight: 600;
  padding: 50px 0 0;
}
.copyright {
  display: flex;
  justify-content: space-around;
}



p {
  font-size: 18px;
}

figcaption {
  font-size: 20px;
  margin: 20px;
}

h1.font-weight-bold {
  margin-bottom: 20px;
  font-weight: 700;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") !important;
}
.carousel-control-prev {
  left: -12% !important;
}

.carousel-control-next {
  right: -12% !important;
}

.margin_top_50{
  margin-top: 50px !important;
}
main {
  width: 100%;
}
@media (max-width: 767px) {
  .design-text {
    position: relative;
    left: 0;
    width: 100%;
    padding-bottom: 30px;
    mix-blend-mode: multiply;
    right: 0;
    margin: auto;

}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
  justify-content: center !important;

  


  @media (max-width: 767px) {

    gap: 16px;
   
    .flex-mobile{
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
.grid-container-sketch {
  width: 100%;
  margin: 0 auto;
}
.experience-title {
  margin: 20px 0px 40px;
  text-align: center;
}

.Experience time {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: 140%;
  transform: translateY(-50%);
  white-space: nowrap;
  color: black;
}

.Experience time:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 20px;
  top: calc(0% - 40px);
  left: 0;        right: 0;
  margin: auto;
  background: repeating-linear-gradient(90deg, #000000 0 5px, transparent 0 10px) 50% / 2px 100% no-repeat;
}
.Experience li:nth-child(even) time {
  color: #000;
  right: 0;
  left: 0;
  margin: auto;
}
.Experience li:nth-child(even) time:before {
  right: 0;
  left: 0;
  background: repeating-linear-gradient(90deg, #000000 0 5px, transparent 0 10px) 50% / 2px 100% no-repeat;
}
.Experience ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: unset;
  justify-content: space-around;
  text-align: center;
}
.Experience li:not(:last-child) {
  margin-bottom: 60px;
}
}
@media (min-width: 768px) {} 
@media (min-width: 768px) and (max-width: 1024px) {
  .Experience time {
    position: absolute;
    font-size: 18px;
    left: calc(100% + 50px);
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    color: black;
}
.name-tag {
  width: 32%;
  position: relative;
  top: 7px;
  rotate: 340deg;
  left: 40px;
}
} 
@media (min-width: 1025px){

}

.card {
  min-height: 500px;
  margin: 15px;
}

.yt-card {
  min-height: 400px !important;
  margin: 15px;
}
/* img.card-img-top {
  min-height: 300px;
  width: auto !important;
  object-fit: cover;
} */

.card-body {
  padding: 25px !important;
  position: relative;
}

.card-title{
  font-weight: bold;
}

.learn-more-btn{
  border: 1px solid black !important;
  background-color: unset !important;
  color: black;
  width: 87%;
  font-size: 18px;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: auto;
}

.learn-more-btn:hover{
  border: 1px solid #a37eff  !important;
  background-color: #a37eff  !important;
  color: white !important;
}

p.card-text {
  color: var(--bs-gray-600);
  font-size: 16px;
}

.flex-container{
  display: flex;
  flex-wrap: nowrap;}

